.card {
    @include media(desktop) {
        width: 90%;
        margin: 0 auto;
    }

    @include media(tablet) {
        width: 100%;
        margin: 0 auto;
    }

    @include media(mobile) {
        width: 70%;
        margin: 0 auto;
    }

    @include media(mobilemedium) {
        width: 80%;
        margin: 0 auto;
    }
}

/*--------------------------------------------------------------
## Profile
--------------------------------------------------------------*/
@import "profile";